* {
    font-family: 'Georgia', sans-serif;
}

titre {
    font-weight: bolder;
    font-size: 3em;
    margin-left: 7.5%;
}

Reponse {
    font-size: 1.25em;
    width:94%;
    margin-left: 1.5%;
    border: 1px solid black;
    background-color: #fcfcfc;
    padding: 5px 1.5%;
    margin-top:15px;
    box-shadow: 3px 3px #333333;
}

.buttonfaq {
    transition: all 0.5s;
    font-weight: bolder;
    font-size: 2em;
    margin-left: 1.5%;
    padding: 5px 1.5%;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    color: #111111;
    align-self: center;
    vertical-align: 5px;
    width: 97%;
    text-align: left;
}

.buttonfaq:hover {
    transition: all 0.5s;
    border: 1px solid black;
    background-color: #eeeeee;
    align-self: center;
    vertical-align: 5px;
    box-shadow: 3px 3px #333333;
}

baisse {
    vertical-align: -10px;
}

bleu {
    color: #0000ff
}

petinepas {
    height: 10px;
}